.card-container {
    display: flex;
    /* กำหนดให้ใช้ Flexbox ช่วยในการจัดการพื้นที่ และการจัดวางขององค์ประกอบใน layout ของหน้าเว็บ */
    flex-wrap: wrap; 
    /* กำหนดให้ลงบรรทัดใหม่ เมื่อขนาดไม่เพียงพอ  */
    margin-left: 20rem;
    z-index: -2;
    /* กำหนดลำดับขององค์ประกอบในแกนแนวนอน ให้ลำดับอยู่ที่ -2 */
    min-width: 1400px;
    padding: 17px;
    height: 100vh;
    
  }
  
  .pic {
    display:flex;
    margin: 40px;
    /* กำหนดขอบ */
    border: 2px solid lightblue;
    padding: 20px;
    cursor: pointer; 
    width: 300px;
    height: 430px;
    border-radius: 15px;
    /* background-color: lightblue; */
  }

    .price {
      display:flex;
      gap: 10px;
      /* background-color: red; */
    }

    .cart {
      border: 2px solid rgb(19, 19, 19);
      /* border ขอบ ,2pxความหนาของขอบ ,solid เส้นทึบ ,สีดำ */
      min-width: 100px;
      /* min-width กำหนดความกว้างขั้นต่ำ */
      /* padding พื้นที่ภายในขอบ */
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 15px;
      margin: 40px; 

    }

    .cart:hover {
      background-color: rgb(19, 19, 19);
      color: white;
      cursor: pointer;
      /* cursor: pointer; มักใช้องค์ประกอบ HTML เช่นปุ่ม (button), ลิงค์ (link), */
    }

    .card-img {
      width: 250px;
      height: 258px;
    }
   


    